
@import 'https://fonts.googleapis.com/css?family=Work+Sans';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
*::selection{
    -webkit-background-color: #d40d54;
    -moz-background-color: #d40d54;
    -o-background-color: #d40d54;
    -ms-background-color: #d40d54;
    background-color: #d40d54;
    color: #fff;
}
section.contenedor{
	width: 100%;
	min-height: 300px;
	background-color: #ffffff;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;

  margin-bottom: 100px;

	border-bottom: 1px solid #d6d6d6;
}


.rt3s2 {
  -webkit-animation-delay: 5.1s;
  -moz-animation-delay: 5.1s;
  animation-delay: 5.1s;
  animation-iteration-count: infinite;
}
/*
section.contenedor{
	width: 100%;
	min-height: 400px;
	background-color: #d40d54;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;

	border-bottom: 1px solid #d6d6d6;
}


section#scrolldown1{
	margin: auto;
	bottom: 0px;
	position: absolute;
	color: #fff;
	float: left;
	font-size: 1.3em;
	text-align: center;
	width: 50%;
	height: 35px;

	#f2266d rosa d40d54
}
section#scrolldown2{
	bottom: 0px;
	position: absolute;
	color: #222;
	float: right;
	font-size: 1.3em;
	text-align: center;
	width: 100%;
	height: 35px;
} */


/* Barra navegacion */
header{
	width: 100%;
	height: 50px;
	background-color: #222;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

h1.th {
	float: left;
	margin: 12px 0px;
	font-size: 20px;
	font-weight: lighter;
}
.contenedor1{
	width: 98%;
	margin: auto;
}
header.contenedor1{
	display: table;
}




/* MENU */

#menu-bar{
	display: none;
}

header label.tm{
	float: right;
	font-weight: lighter;
	font-size: 23px;
	margin: 15px 6.3vw;
	cursor: pointer;
}
h1.th span.fa{
		font-size: 16px;
		margin: auto;
		float: left;
		padding-left: 6vw;
		padding-right: 8px;
		padding-top: 4px;
	}











/* TAMAÑO ESCRITORIO INICIO */
/* */
/* */
@media only screen and (min-width: 1021px) {
	.contenedor1{
		width: 950px;
	}
	header{
	margin-top: 25px;
	width: 100%;
	height: 50px;
	/*background-color: #222;*/
	background-color: rgba(255,255,255,0);
	color: #fff;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
	.menu{
		position: static;
		width: auto;
		height: 50px;
		transform: translateX(0%);
		float: right;
		display: flex;
	}
	h1.th {
	float: left;
	margin: 12px 0px;
	font-size: 26px;
	}
	h1.th span.fa{
		font-size: 18px;
		margin: auto;
		float: left;
		padding-right: 8px;
		padding-top: 5px;
	}
	ul.nav{
	list-style: none;
	font-size: 1em;
}


/*
	.nav a:hover{
		padding-top: 3vh;
		background-color: #d40d54;
		line-height: 0px;
		text-decoration: none;
		font-size: 110%;


	}
#00a587



.menu ul ul{
  list-style: none;
}
li.active{
  background-color: #d40d54;
}
li:hover{
  background-color: #d40d54;
}

*/




	section.contenedor{
	top: 60px;
	width: 100%;
	min-height: 400px;

	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	border-bottom: 1px solid #d6d6d6;
	}

	section.contenedoryo{
	top: 60px;
	width: 100%;
	min-height: 400px;

	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	border-bottom: 1px solid #d6d6d6;
	}
/* INICIA LISTA TEXTO 1 YO*/
	section.textoy{
		float: right;
		width: 90%;
		color: #818181;
		text-align: left;
		min-height: 400px;

		background-color: white;
	}

	section.textoy li{
		float: left;
		width: 94%;
		text-align: left;
		color: #7f8c8d;
		list-style: none;
		font-size: 1.2em;
		margin: 1.3px;
		margin-left: 38px;
		margin-right: 45px;
		background-color: white;
	}
	section.textoy li:hover{
		list-style: none;
		margin-right: 45px;
		font-size: 1.4em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 1 LISTAS ANIMADAS YO*/
/* CIERRA */


	/* INICIA LISTA TEXTO 1 */
	section.texto{
		float: right;
		width: 75%;
		color: #818181;
		text-align: left;
		min-height: 400px;

		background-color: white;
	}

	section.texto li{
		float: left;
		width: 94%;
		text-align: left;
		color: #7f8c8d;
		list-style: none;
		font-size: 1.2em;
		margin: 1.3px;
		margin-left: 38px;
		margin-right: 45px;
		background-color: white;
	}
	section.texto li:hover{
		list-style: none;
		margin-right: 45px;
		font-size: 1.4em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 1 LISTAS ANIMADAS */
/* CIERRA */



/* INICIA LISTA TEXTO 2 */
	section.texto2{
		float: left;
		width: 75%;
		color: #818181;
		min-height: 400px;

		background-color: white;
	}

	section.texto2 li{
		float: left;
		width: 94%;
		color: #7f8c8d;
		list-style: none;
		font-size: 1.2em;
		text-align: right;
		margin: 1.3px;
		margin-left: 35px;
		background-color: white;
	}
	section.texto2 li:hover{
		list-style: none;
		margin-left: 45px;
		font-size: 1.4em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 2 LISTAS ANIMADAS */
/* CIERRA */


	/* TEXTO PRINCIPAL PORTADA PAGINA ROSAS */
	section.textop{
		margin: auto;
		width: 80%;
		min-height: 300px;

		background-color: white;
	}

	p.titulop{
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 0vh;
		margin-bottom: 10px;
		font-size: 3.5em;
		color: #222;

		/*font-family: "HelveticaNeue", Arial;
		font-weight: 700;

		*/
	}

  /*
  p.titulop{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 27vh;
    margin-bottom: 10px;
    font-size: 3.5em;
    color: #222;
  }
  .rosa{
		color: #f2266d;
	}
	.dark{
		color: #d40d54;
	}
  */
	.rosa{
		color: #222;
	}
	.dark{
		color: #444;
	}
	p.textop{
		text-align: center;
		margin: 20px;
		margin-right: 20px;
		font-size: 1.2em;
		color: #776e71;
		line-height: 19px;
	}

	/* colores barra
.dark{
  color: #BD355A;
}
.rosa{
  color: #EA2E49;
}*/


	/* CIERRA TEXTO PRINCIPAL */
	/**/
	/**/
	/**/
	p.titulo{
		text-align: center;
		margin-top: 13vh;
		margin-bottom: 10px;
		font-size: 1.8em;
		color: #131724;
	}
	p.texto{
		margin: 18px;
		font-size: 1.2em;
		color: #95a5a6;
		line-height: 19px;
	}
	p.texto2{
		text-align: right;
		margin: 18px;
		font-size: 1em;
		color: #636262;
		line-height: 19px;
	}
	div.social-icons{
		justify-content: flex-start;
		float: right;
		margin: 14px 35px;
	}
















/* CIERRA TAMAÑO ESCRITORIO */
/* */
}
/* */
/**/


/* Cierra MENU */

section#cont1{
	background-image: url('fw.jpg');
	background-attachment: fixed;

}

section#cont2{
	background-image: url('nano.jpg');
	background-attachment: fixed;

}
section#cont3{
	background-image: url('bow.jpg');
	background-attachment: fixed;
	background-size: cover;


}
section#cont4{
	background-image: url('chmy.jpg');
	background-attachment: fixed;
	background-size: cover;

}



section.texto{
	float: right;
	width: 75%;
	height: 100%;
	min-height: 400px;

	background-color: white;
}

section.texto2{
	float: left;
	width: 75%;
	min-height: 400px;

	background-color: white;
}





/* ==========================================================================
   07. Footer
   ========================================================================== */
.footer {
	text-align: center;
	color: #fff;
	font-weight: 500;
}
.footer .top {
	background: #232323;
	padding: 48px 0;
}
.footer .bottom {
	background: #1c1c1c;
	line-height: 50px;
}
.footer h4 {
	color: #fff;
}
.footer .social-icons {
	margin-bottom: 24px;
}
/*--------------------------------------------------------------
#1.4	happy-couple
--------------------------------------------------------------*/
.happy-couple {
	position: relative;
	overflow: hidden;
	text-align: center;
}
.cdd {
  height: 100%;
  background: url(chmys.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}

.op {
	opacity: 0.5;
}
.happy-couple .container {
	position: relative;
	z-index: 5;
}

.happy-couple h2 {
	font-size: 45px;
	color: #fff;
	margin: 0 0 1em 0;
}

.happy-couple .container i {
	display: block;
	color: #fff;
	font-size: 35px;
	margin-bottom: 1em;
}

.lefy {
	padding-left: 50px;
}

/* ========================





/**/
/**/
/* TAMAÑO MOVIL */
/**/
@media only screen and (max-width: 1020px){
	section.contenedor{
	top: 60px;
	width: 100%;
	min-height: 400px;

  margin-bottom: 0px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;

	border-bottom: 1px solid #d6d6d6;
	}

	.masthead-brand{
		color: #fff;
	}
	section.texto{
	float: right;
	top: 70px;
	width: 75%;
	height: 100%;
	min-height: 400px;

	background-color: #333;
	}

	section.texto2{
		float: left;
		width: 75%;
		min-height: 400px;

		background-color: white;
	}

	/* TEXTO PRINCIPAL PORTADA PAGINA ROSAS */
	section.textop{
		float: left;
		width: 100%;
		min-height: 100vh;

		background-color: white;
	}
	.inner{
		padding: 0px;
		margin-top: 10vh;
	}
	.cover{
		padding: 0px;
	}
	svg#mySVG {
	  position: relative;
	  margin: auto;
	  width: 100%;
	  margin-bottom: 30px;
	}

	ul.nav li a {
		color: #fff;
	}

	ul.nav li.active a{
		color: #fff;
		background: #131724;
		padding: 10px;
	}
	

	p.titulop{
		text-align: center;
		margin-top: 3vh;
		margin-bottom: 10vh;
		font-size: 2.5em;
		color: #131724;
	}
	.rosa{
		color: #EA2E49
	}
	.dark{
		color: #444;
	}
	p.textop{
		text-align: right;
		margin: 20px;
		font-size: 1em;
		color: #776e71;
		line-height: 19px;
	}
				/* color gris claro #818181 gris menos claro #636262 */
	/* CIERRA TEXTO PRINCIPAL */
	/**/
	/**/
	/**/

	p.titulo{
		text-align: center;
		margin-top: 53px;
		margin-bottom: 0px;
		font-size: 1.8em;
		color: #131724;
	}

	p.texto{
		margin: 20px;
		margin-top: 10px;
		font-size: 1em;
		color: #636262;
		line-height: 19px;
	}
	p.texto2{
		text-align: right;
		margin: 20px;
		font-size: 1em;
		color: #636262;
		line-height: 19px;
	}
	div.social-icons{
		justify-content: center;
		margin: 10px;
		padding-bottom: 10px;
	}


	/* INICIA LISTA TEXTO 1 */
	section.texto{
		float: right;
		width: 75%;
		color: #818181;
		min-height: 400px;

		background-color: white;
	}

	section.texto li{
		float: left;
		width: 94%;
		text-align: left;
		padding-left: 10px;
		color: #2c2c2c;
		list-style: none;
		font-size: 1em;
		margin: 1.3px;
		background-color: white;
	}
	section.texto li:hover{
		list-style: none;
		margin-right: 20px;
		font-size: 1.2em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 1 LISTAS ANIMADAS */
/* CIERRA */



/* INICIA LISTA TEXTO 2 */
	section.texto2{
		float: left;
		width: 75%;
		color: #818181;
		min-height: 400px;

		background-color: white;
	}

	section.texto2 li{
		float: right;
		width: 94%;
		padding-right: 10px;
		color: #2c2c2c;
		list-style: none;
		font-size: 1em;
		text-align: right;
		margin: 1.3px;
		background-color: white;
	}
	section.texto2 li:hover{
		list-style: none;
		margin-left: 20px;
		font-size: 1.2em;
		color: #EA2E49;


		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: .25s;
		-ms-transition: .25s;
		transition: .25s;
		outline: none !important;
		text-decoration: none;
		color: #EA2E49;
		background-color: white;
	}

/* TEXTO 2 LISTAS ANIMADAS */
/* CIERRA */











/* CIERRA TAMAÑO MOVIL */
}
/* CIERRA TAMAÑO MOVIL */





/* ==========================================================================
   08. Social Icons
   ========================================================================== */
.social-icon {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	background: #d40d54;
	/* #a50c43 */
	border-radius: 100%;
	box-shadow: 0 4px 12px rgba(0,0,0,.13);
	margin: 0 4px;
	text-align: center;
}
.social-icon:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.footer .social-icon {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.social-icon:hover {
	background: #0dbad8;
	color: #fff;
}



.social-icon3 {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	background: #222;
	border-radius: 100%;
	box-shadow: 0 4px 12px rgba(0,0,0,.13);
	margin: 0 4px;
	text-align: center;
}
.social-icon3:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.footer .social-icon3 {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.social-icon3:hover {
	background: #d40d54;
	color: #fff;
}

.social-icon4 {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	background: #222;
	border-radius: 100%;
	box-shadow: 0 4px 12px rgba(0,0,0,.13);
	margin: 0 4px;
	text-align: center;
}
.social-icon4:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.footer .social-icon4 {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.social-icon4:hover {
	background: #0dbad8;
	color: #fff;
}


/* azul #0c71a2 */

.social-icon2 {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	background: #0dbad8;
	border-radius: 100%;
	box-shadow: 0 4px 12px rgba(0,0,0,.13);
	margin: 0 4px;
	text-align: center;
}
.social-icon2:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.footer .social-icon2 {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.social-icon2:hover {
	background: #d40d54;
	color: #fff;
}



/* azul #0c71a2 */

.social-icon5 {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #fff;
	background: #00a587;
	border-radius: 100%;
	box-shadow: 0 4px 12px rgba(0,0,0,.13);
	margin: 0 4px;
	text-align: center;
}
.social-icon5:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.footer .social-icon5 {
	box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
}
.social-icon5:hover {
	background: #d40d54;
	color: #fff;
}
